<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This NFT</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/AboutNFT.css">
    <script src="https://kit.fontawesome.com/750612b524.js" crossorigin="anonymous"></script>
    <script>
        var req2;
        var url2;
        document.querySelector('.button-2 button').addEventListener('click', () => {
  const nameElement = document.getElementById('nameid');
  alert(nameElement)
  // You can now use the nameElement variable to access the element with the id of "nameid"
});
    </script>
</head>

<body>
    <!--  NAVBAR -->
    <nav class="our-nav flex-div">
        <div class="nav-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="nav-left flex-div">
            <div class="search-box flex-div">


                <input type="text" placeholder="Search">
                <i class="fas fa-search"></i>
            </div>

        </div>

        <div class="nav-middle flex-div">
            <div class="amount-eth flex-div">
                <i class="fab fa-ethereum"></i>
                <p>134.78 ETH</p>
            </div>
            <div class="notif flex-div">
                <i class="fas fa-bell"></i>

            </div>
        </div>
        <div class="nav-right flex-div">
            <div class="profil flex-div">
                <img src="./img/cat/ranveer.jpeg" alt="My profile">
                <p><a href = "Profile.html">Singhveer Rangh</a></p>
                <i class="fas fa-ellipsis-v"></i>
            </div>

        </div>
    </nav>

    <!--  SIDE BAR -->
    <div class="side-bar">
        <div class="logo">
            <img src="./img/img.ico" alt="logo">
        </div>
        <div class="shortcut-links">
            <a href="index.html"><i class="fas fa-home"></i></a>
            <a href="#"><i class="fas fa-gem"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
            <a href="stats.html"><i class="fas fa-award"></i></a>
            <a href="Main_marketplace.html"><i class="fas fa-cart-arrow-down"></i></a>
            <a href="#"><i class="fas fa-cog"></i></a>
        </div>
    </div>
<% var NFTID_MAIN=Q[0].NFT_id%>
    <div class="container">
        <div class="large-container">
            <div class="main-container">
                <div class="nft">
                    <% var imgloc="./nft_resources/nft/"+(Q[0].NFT_id).toString()+".jpg"; %>
                    <input type="text" id="nftid" name="nftid" value="<%(Q[0].NFT_id).toString()%>" hidden>

                    <img src="<%=imgloc%>" alt="nft">
                </div>
                <div class="nft-txt">
                    <div class="creator creator-1 flexdiv">

                    </div>
                    <h1 class="title-nft" id="nameid"> <%= Q[0].name %></h1>
                    <div class="detail-nft flex-div">

                        <% if(Q[0].onsale==1){ %>
                        <div class="current-bid">
                            <p>Current price</p>
                            <h1><%=S[0].price%> <%NFTID_MAIN%></h1>
                        </div>
                        <div class="sale-detail">
                            <p>Days Remaining</p>
                            <h1> <%=remainingTime  %></h1>
                            <span>
                               
                            </span>
                        </div>
                        <% } %>

                        <div class="rarity">
                            <div class="sale-detail prop">
                                <h1><%= F[0].features %> </h1>
                            </div>

                            <div class="sale-detail prop">
                                <h1><%= F[1].features %> </h1>
                            </div>
                        </div>
                        <div class="rarity">
                            <div class="sale-detail prop">
                                <h1><%= F[2].features %> </h1>

                            </div>

                            <div class="sale-detail prop">
                                <h1><%= F[3].features %> </h1>

                            </div>
                        </div>
                    </div>
                    <div class="option-nft flex-div">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <div class="button-1">
                            <button>View Art</button>
                        </div>
                    
                        <div class="button-2">
                            <button>BUY NFT</button>
                            
                        </div>


                    </div>
                </div>
            </div>
            <h1></h1>
            <hr>
            <div class="list-container">
              
                <div class="nft-list">
                    <a href="#"><img src="./img/prod/prod1.jpeg" class="thumbnail"></a>
                    <div class="nft-list-detail">
                        <div class="creator creator-2 flex-div">
                            <img src="./img/cat/creator1.jpeg">
                            <p>Steven Dominic</p>

                        </div>
                        <h1>
                            Apeyy in Party
                        </h1>
                        <div class="more-detail flex-div">
                            <p> Place Bid :</p>
                            <h1>
                                12.6 ETH
                            </h1>
                        </div>
                        <div class="more-detail-hours">
                            <p> Sale Ending in</p>
                            <h1>
                                67h : 45m : 39s
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="nft-list">
                    <a href="#"><img src="./img/prod/prod2.png" class="thumbnail"></a>
                    <div class="nft-list-detail">
                        <div class="creator creator-2 flex-div">
                            <img src="./img/cat/creatoe2.jpeg">
                            <p>Snoop Donald</p>

                        </div>
                        <h1>
                            3DDDDD <3 </h1>
                                <div class="more-detail flex-div">
                                    <p> Place Bid : </p>
                                    <h1>
                                        4.2 ETH
                                    </h1>
                                </div>
                                <div class="more-detail-hours">
                                    <p> Sale Ending in</p>
                                    <h1>
                                        7h : 25m : 09s
                                    </h1>
                                </div>
                    </div>
                </div>

                <div class="nft-list">
                    <a href="#"><img src="./img/prod/prod3.jpeg" class="thumbnail"></a>
                    <div class="nft-list-detail">
                        <div class="creator creator-2 flex-div">
                            <img src="./img/cat/creator3.jpeg">
                            <p>Mary Cross</p>
                        </div>
                        <h1>
                            How do I look in Pink ?
                        </h1>
                        <div class="more-detail flex-div">
                            <p> Place Bid :</p>
                            <h1>
                                12.6 ETH
                            </h1>
                        </div>
                        <div class="more-detail-hours">
                            <p> Sale Ending in</p>
                            <h1>
                                67h : 45m : 39s
                            </h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</body>

</html>